<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Category</title>
    <link rel="stylesheet" href="/style.css">
</head>

<body>

    <h2>Edit Category</h2>

    <form action="/categories/<%= category._id %>?_method=PUT" method="POST">

        <input 
            type="text" 
            name="categoryName" 
            value="<%= category.categoryName %>" 
            required
        >

        <button type="submit">
            Update Category
        </button>

    </form>

    <br>

    <a href="/categories">
        Back to Category List
    </a>

</body>

</html>